:root {
  --main-color: #95af46;
  --note-background: #1f1f1f;
  --buttom-color: #333333;
  --wed-background: #141414;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--wed-background);
  margin: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
html {
  scroll-behavior: smooth;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  min-height: 400px;
  padding: 20px;
  background-color: var(--note-background);
  border-radius: 10px;
}
.header {
  text-align: center;
}
.header .image img {
  border-radius: 50%;
  width: 100px;
}
.header .text .info {
  padding-top: 10px;
  font-weight: bold;
  color: white;
  line-height: 0.5;
}
.header .text .info h5 {
  color: var(--main-color);
}
.header .text .txt {
  padding-top: 10px;
  color: rgb(175, 173, 173);
  font-weight: normal;
}
.choose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.choose h2 {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  padding: 15px;
  width: 90%;
}
.choose h2:hover {
  background-color: var(--main-color);
  color: black;
  cursor: pointer;
}
.choose .click {
  padding: 15px;
  background-color: var(--buttom-color);
  border-radius: 6px;
  width: 90%;
  margin-top: 10px;
}
@media (max-width: 600px) {
  .container {
    width: 90%;
    max-width: 350px;
    min-height: 300px;
    padding: 15px;
  }
  .header .image img {
    width: 80px;
  }
  .header .text .info h3 {
    font-size: 18px;
  }
  .header .text .info h5 {
    font-size: 14px;
  }
  .header .text .txt p {
    font-size: 12px;
  }
  .choose h2 {
    font-size: 13px;
    padding: 10px;
  }
  .choose .click {
    padding: 10px;
    font-size: 14px;
  }
  .choose h2:hover {
    background-color: var(--main-color);
    color: black;
    cursor: pointer;
  }
}
